<div class=" pt-14 grid grid-cols-2">

    <div class="bg-blue-300">
        <div class="flex items-center bg-yellow-300">
            <a href="#" class="text-indigo-600  text-xl font-bold">HireUP</a>
      </div>

      <div>
          
          <div class="flex space-x-10">
              <div *ngFor="let data of datas">
                  <h4 class="font-bold mb-2">{{ data.title }}</h4>
                  <ul>
                      <li *ngFor="let point of data.points" class="mb-1">
                          {{ point }}
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>

    <div>
        <div class="bg-blue-500 ">
            <h3>Signup to out NewsLetter</h3>
            <div class="flex flex-row gap-4 items-center">
                <input type="text"  class="flex-1 h-12 " placeholder=" enter your NewsLetter">
                <button class=" bg-blue-500 text-white py-5 px-3"> Get started</button>
            </div>
       </div>
       
    </div>
</div>