<div class="  py-12">

    <div>
        <h4 class="text-blue-600 uppercase"> Blog</h4>  
        <h2 class="text-4xl font-bold">Get the latest news about jobs!</h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <div *ngFor="let blog of news" class="rounded-lg">
            <img src="" alt="coming soon" class="pt-16">
            
            <div class="p-6">
                <span class="text-blue-600 bg-blue-200 px-3 py-1 text-sm">Education</span>
                <h3 class="text-xl font-semibold mt-2 ">How to make a great first impression everytime</h3>
                <p class="text-gray-500 text-sm pt-4">OCTOBER 24, 2022</p>
                <a href="#" class="text-blue-600 font-semibold flex items-center pt-4">
                  Read More
                  <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                </a>
              </div>
        

        </div>

    </div>


</div>