<section class="relative ">
    <div class="absolute top-[-40px] left-0 right-0 z-10 flex justify-start py-4 bg-transparent">
        <div class="w-full">
            <app-search></app-search>
        </div>
    </div>
    
    <div class="relative h-[50vh] overflow-hidden self-center">
      <img src="https://cdn.pixabay.com/photo/2016/11/22/19/17/buildings-1850129_960_720.jpg" alt="City skyline" class="w-full h-full object-cover">
    </div>
    
    <div class="bg-indigo-600 text-white py-4 text-center">
      <p class="text-xl">
        Discover the world's largest component library. 
        <a href="#" class="underline">Learn More</a>
      </p>
    </div>
    
    <div class="text-center py-4">
      <p class="text-gray-600">
        Work for <span class="font-semibold">industry leading</span> global companies
      </p>
    </div>
  </section>