 <div class="flex flex-col">

    <div>
        <app-first-pages></app-first-pages>
    </div>

    <div class="lg:px-[22rem] md:px-[14rem] px-6 flex flex-col gap-8 mt-12">
        <app-landing-image></app-landing-image>
        <app-company-image></app-company-image>        
    </div>
   
        <app-job-listing></app-job-listing>
        <!-- <app-company-list></app-company-list> -->
        <!-- <app-custom-membership></app-custom-membership> -->
        <!-- <app-testimonials></app-testimonials> -->
        <!-- <app-news></app-news> -->
        <!-- <app-explore></app-explore> -->
        <!-- <app-footer></app-footer> -->
    <!-- </div> -->
</div>

