
  <div class="min-h-screen  grid grid-cols-2 justify-center items-center px-4">

    <div class="">
      <img src="./../../../assets/Screenshot from 2024-09-19 16-59-20.png" alt="Man gesturing OK" class="rounded-lg shadow-lg">
      <p class="text-sm text-gray-600 text-center pt-2">Partnership with <span class="font-bold text-base">Glassdoor</span>and <span class="font-bold text-base">LinkedIn</span>   </p>
    </div>

    <div class=" flex flex-col ">
      <h2 class="text-blue-600 font-semibold mb-2">WHY CHOOSE US</h2>
      <h1 class="text-4xl font-bold mb-4">Build a custom membership site with locked content.</h1>
      <p class="text-gray-600 mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi rhoncus, pharetra leo et, efficitur tortor. Fusce vel convallis magna, sit amet pulvinar diam. Sed laoreet feugiat consequat.</p>

      <div class="space-y-4">
        <div class="flex items-center">
          <div class="bg-blue-100 p-2 rounded-full mr-4">
            <svg class="w-6 h-6 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
          </div>
          <div>
            <h3 class="font-semibold">Add a feature point here</h3>
            <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>

        </div>
        <div class="flex items-center">
          <div class="bg-blue-100 p-2 rounded-full mr-4">
            <svg class="w-6 h-6 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
          </div>
          <div>
            <h3 class="font-semibold">Add a feature point here</h3>
            <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>


        <div class="flex items-center">
          <div class="bg-blue-100 p-2 rounded-full mr-4">
            <svg class="w-6 h-6 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
          </div>
          <div>
            <h3 class="font-semibold">Add a feature point here</h3>
            <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>

      </div>
    </div>
  </div>