<div class="flex flex-col w-full">

  <div class="flex items-center justify-center p-4 bg-black w-full text-white text-base " *ngIf="banner">
    <p class="mr-2 font-normal text-[15px]">Discover over 1,000+ premium webflow components today!</p>
    <button class="bg-[#443FDE] text-white px-2 py-0.5 hover:bg-indigo-700 text-sm">
      Unlock More
    </button>

    <button class="ml-2 text-gray-400 hover:text-white" (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

  </div>

  <nav class="flex items-center justify-between md:py-6 py-2 shadow-sm xl:px-[22rem] lg:px-[11rem] md:px-[4rem] px-2">

    <div class="flex items-center ">
      <a href="#" class="text-black md:text-2xl  text-lg font-bold ">
        <span class="text-[#443FDE]">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </span>
          HireUP
      </a>
    </div>

    <div class=" flex-row gap-6 hidden lg:flex text-normal font-normal">
      <a class="text-[#423dd4] hover:text-gray-800">Home</a>
      <a class="text-black hover:text-gray-800">Company</a>
      <a class="text-black hover:text-gray-800">Browse</a>
      <a class="text-black hover:text-gray-800">Blog</a>
    </div>

    <div class="flex items-center space-x-4">
      <button class="text-[#44405D] hover:text-gray-800">Post a Job</button>
      <button class="bg-[#443FDE] text-white md:px-4 px-2 md:py-2 py-1  hover:bg-indigo-700">Log in</button>
    </div>

  </nav>
  
</div>