<div class="flex flex-col ">

  <div class="flex md:flex-row  flex-col items-center justify-center p-3 bg-black w-full  shadow-sm gap-3 m:text-left ">
    <div class="">
        <p class="text-white hover:text-gray-200 text-base">Discover over 1000+  premium webflow today!</p>
     </div>
     <div class="">
         <button class="bg-indigo-600 text-white px-2 py-1 rounded hover:bg-indigo-700 text-sm">Unlock More</button>
     </div>
</div>

  <nav class="flex items-center justify-between py-8 shadow-sm lg:px-[22rem] md:px-[14rem] px-6">

    <div class="flex items-center">
      <a href="#" class="text-black  text-2xl font-bold">HireUP</a>
    </div>

    <div class=" space-x-4 hidden md:flex">
      <a class="text-gray-600 hover:text-gray-800">Home</a>
      <a class="text-gray-600 hover:text-gray-800">Company</a>
      <a class="text-gray-600 hover:text-gray-800">Browse</a>
      <a class="text-gray-600 hover:text-gray-800">Blog</a>
    </div>

    <div class="flex items-center space-x-4">
      <button class="text-gray-600 hover:text-gray-800">Post a Job</button>
      <button class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700">Log in</button>
    </div>

  </nav>
  
</div>