<div class="flex flex-col pt-32 pb-14">

    <div>
        <h1 class="text-4xl font-bold text-center md:text-start ">Work with exciting companies</h1>
    </div>
    <div>
        <p class="text-gray-600 pt-1 text-center md:text-start">Discover more than 1,600 open positions</p>
    </div>

    <div class="pt-12  grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6  ">
        <div *ngFor="let company of companies" class="pl-8 py-10 shadow-md border"  >
                <div class="flex items-center mb-4">
                  <img src="./../../../assets/Screenshot from 2024-09-19 16-23-25.png" [alt]="company.name" class="w-14 h-14 mr-3 object-contain">
                  <h2 class="text-xl font-semibold">{{ company.name }}</h2>
                </div>
                <p class="text-gray-600 mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea dignissimos atque adipisci aut.</p>
                <div class="bg-green-100 text-green-800 text-sm px-3 py-1 font-bold  inline-block">
                  {{ company.employeeCount }} Employees 
                </div>
    </div>

</div>