<div class="pb-20 bg-gray-100 pt-20 space-y-5 lg:space-y-16 xl:px-[22rem] lg:px-[11rem] md:px-[4rem] px-6 ">

    <div class="text-center ">
        <h3 class="text-blue-600 uppercase mb-2">Testimonial</h3>
        <h2 class="xl:text-4xl  text-3xl font-bold">See what users say  about <br> our job platform</h2>
      </div>

   <div class="flex xl:flex-row items-center xl:items-start  flex-col xl:p-12 p-6  gap-7">

    <div class="flex flex-col xl:items-start items-center  ">
      <div>
        <img src="./../../../assets/Screenshot from 2024-09-19 17-22-13.png" alt="Company logo" class="w-12 h-12 mb-4">
      </div>

      <div class="flex flex-col items-start text-center xl:text-start">
        <blockquote class="xl:text-2xl md:text-xl text-lg max-w-md font-bold xl:pt-9 pt-4 ">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi rhoncus, pharetra leo et, efficitur tortor. Fusce vel convallis magna"
        </blockquote>

        <div class="  pt-8 self-center xl:self-start"> <span class="text-blue-600 ">John Doe</span> - Senior Frontend Developer </div>
      </div>
    </div>


    <div class=" xl:pl-12 mt-6 xl:mt-0">
      <img src="../../../assets/Screenshot from 2024-09-19 17-26-13.png" alt="image coming" class="">

    </div>




   </div>

</div>